/*============ COMMON CSS  STARTS HERE============= */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

:root {
  --primary-text: "Open Sans", sans-serif;
  --secondary-text: "Paprika", cursive;
  --rare-text: "Nunito", sans-serif;
}

/*============ COMMON CSS  ENDS HERE============= */

/*============ NAVBAR CSS  STARTS HERE============= */

#nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

#nav label {
  display: none;
}

#nav input {
  display: none;
}

.menu_wrapper {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu_wrapper button {
  padding: 14px 28px;
  background-color: #ff5538;
  border-radius: 18px;
  border: none;
}

.menu_wrapper button a {
  color: #fff;
  font-family: var(--rare-text);
  font-size: 18px;
  font-weight: 600;
}

.menu ul {
  display: flex;
}

.menu ul li {
  margin: 0 24px;
}

.menu ul a {
  font-family: var(--primary-text);
  font-size: 18px;
  font-weight: 600;
  color: #29313d;
  cursor: pointer;
}

/*============ NAVBAR CSS  ENDS HERE============= */

/*======== BANNER PART CSS STARTS HERE ======== */
#banner {
  position: relative;
  padding-top: 285px;
  padding-bottom: 200px;
  background-color: #fbf3f0;
  text-align: center;
}

.shape1 {
  position: absolute;
  top: 120px;
  left: 40%;
  animation: round 20s infinite linear;
}

@keyframes round {
  100% {
    transform: rotate(360deg);
  }
}
.animation2 {
  height: 18px;
  width: 18px;
  background-color: #c087ee;
  border-radius: 50%;
  position: absolute;
  top: 270px;
  left: 60%;
  animation: scale 2s infinite linear;
}

@keyframes scale {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  50% {
    transform: scale(2);
    opacity: 1;
  }

  100% {
    transform: scale(0);
    opacity: 0;
  }
}

.animation3 {
  position: absolute;
  top: 400px;
  left: 70%;
  animation: round2 2s linear infinite;
}

@keyframes round2 {
  100% {
    transform: rotate(360deg);
  }
}

.animation4 {
  position: absolute;
  top: 200px;
  left: 200px;
  animation: round3 5s linear infinite;
}

@keyframes round3 {
  100% {
    transform: rotate(360deg);
  }
}

.animation5 {
  position: absolute;
  top: 70%;
  left: 200px;
  animation: scale2 5s linear infinite;
}

@keyframes scale2 {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(2);
  }

  100% {
    transform: scale(0);
  }
}

.banner_img {
  position: absolute;
  top: 0;
  left: 0;
}

.banner_img2 {
  position: absolute;
  bottom: 0;
  right: 0;
}

.sideinfo {
  font-size: 24px;
  position: absolute;
  left: -215px;
  top: 390px;
  display: flex;
  gap: 40px;
  transform: rotate(270deg);
  /* text-transform: capitalize; */
}

.sideinfo a {
  color: black;
}

.article h2 {
  padding-bottom: 38px;
  padding: 0 162px 38px 162px;
  font-family: var(--primary-text);
  font-size: 64px;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 78px;
}

.article p {
  font-family: var(--rare-text);
  font-size: 18px;
  font-weight: 400;
  padding: 0 283px 50px 283px;
  text-transform: capitalize;
}

.article a {
  font-family: var(--primary-text);
  font-size: 18px;
  font-weight: 600;
  color: #29313d;
  padding: 14px 28px;
  background-color: #ff5538;
  border-radius: 18px;
  color: #fff;
}

.article .contact_us {
  margin-right: 24px;
  transition: all linear 0.3s;
}

.article .contact_us:hover {
  background-color: transparent;
  border: 2px solid #ff5538;
  color: #ff5538;
}
.article .show_case {
  transition: all linear 0.3s;
}

.article .show_case:hover {
  background-color: transparent;
  border: 2px solid #ff5538;
  color: #ff5538;
}
/*======== BANNER PART CSS ENDS HERE ======== */

/* ========SERVICE PART CSS STARTS HERE ======== */

#service {
  position: relative;
}

#service .photo img {
  position: absolute;
  top: 50px;
  left: 0;
}

#service .items {
  display: flex;
  gap: 30px;
  transform: translateY(-50%);
}

#service .item {
  height: 300px;
  width: 380px;
  background-color: #fff;
  box-shadow: 0px 0.5px rgb(215, 199, 199);
}

#service .item img {
  padding: 40px 340px 34px 30px;
}
#service .item h2 {
  padding: 0 10px 16px 30px;
  font-family: var(--primary-text);
  font-size: 28px;
  font-weight: 700;
  color: #29313d;
}

#service .item p {
  padding: 0 46px 40px 30px;
  font-family: var(--rare-text);
  font-size: 18px;
  font-weight: 400;
  text-transform: capitalize;
}
/* ========SERVICE PART CSS ENDS HERE ======== */

/* ======== CONNECT PART CSS STARTS HERE ======== */

#connect article p {
  font-family: var(--primary-text);
  font-size: 20px;
  color: #ff5538;
}

#connect article h2 {
  font-family: var(--primary-text);
  font-size: 48px;
  padding-right: 605px;
  text-transform: capitalize;
  color: #29313d;
}

.connect_items {
  height: 100px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.connect_item1 {
  height: 320px;
  width: 50%;
  background-color: #ff5538;
  position: relative;
}

.connect_item1 img {
  position: absolute;
  height: 100%;
  width: 110%;
}

.connect_item2 {
  height: 420px;
  width: 50%;
  background-color: #fbf3f0;
  /* position: relative; */
}

/* .connect_item2 img {
  position: absolute;
  right: 0;
  bottom: 0;
} */

.connect_item2 h4 {
  padding: 70px 85px 0 100px;
  font-family: var(--primary-text);
  font-size: 26px;
  text-transform: capitalize;
}

.connect_item2 p {
  padding: 8px 29px 28px 100px;
  font-family: var(--rare-text);
  font-size: 18px;
}
.item-button {
  padding-left: 100px;
  cursor: pointer;
}

.item-button button {
  padding: 10px 20px;
  border-radius: 18px;
  border: none;
  background-color: #ff5538;
  font-family: var(--rare-text);
  font-size: 18px;
  color: #fff;
}

/* ======== CONNECT PART CSS ENDS HERE ======== */

/* ======== Skill_COUNT PART CSS STARTS HERE ======== */
#skill_count {
  padding-bottom: 125px;
}
.wrapper_div {
  display: flex;
  justify-content: space-between;
  padding: 158px 0 60px 0;
  align-items: center;
}

.wrapper_div .button button {
  padding: 14px 28px;
  border: 2px solid #ff5538;
  border-radius: 18px;
}

.wrapper_div .button a {
  color: #ff5538;
  font-family: var(--rare-text);
  font-size: 18px;
}

.top_article p {
  color: #ff5538;
  font-family: var(--primary-text);
  font-size: 20px;
  text-transform: capitalize;
}

.top_article h2 {
  color: #29313d;
  font-family: var(--primary-text);
  font-size: 48px;
  text-transform: capitalize;
  width: 660px;
}

.skill_middel_part {
  display: flex;
  padding-bottom: 30px;
  gap: 30px;
}

.skill_middel_part .middel_info1 {
  height: 300px;
  /* background-color:#ff5538; */
  width: 40%;
}

.skill_middel_part .middel_info1 img {
  height: 70%;
  width: 100%;
}

.skill_middel_part .middel_info1 h3 {
  padding: 10px 300px 10px 30px;
  font-family: var(--primary-text);
  font-size: 20px;
}

.skill_middel_part .middel_info1 a {
  padding: 5px 300px 5px 30px;
  color: #ff5538;
  font-family: var(--rare-text);
  font-size: 18px;
}

.skill_middel_part .middel_info2 {
  height: 300px;
  /* background-color: #29313d; */
  width: 60%;
}

.skill_middel_part .middel_info2 img {
  height: 70%;
  width: 100%;
}

.skill_middel_part .middel_info2 h3 {
  padding: 10px 300px 10px 30px;
  font-family: var(--primary-text);
  font-size: 20px;
}

.skill_middel_part .middel_info2 a {
  padding: 5px 300px 5px 30px;
  color: #ff5538;
  font-family: var(--rare-text);
  font-size: 18px;
}

/* ========================================== */

.skill_last_part {
  display: flex;
  padding-bottom: 30px;
  gap: 30px;
}

.skill_last_part .last_info1 {
  height: 300px;
  /* background-color:#ff5538; */
  width: 60%;
}

.skill_last_part .last_info1 img {
  height: 70%;
  width: 100%;
}

.skill_last_part .last_info1 h3 {
  padding: 10px 200px 10px 30px;
  font-family: var(--primary-text);
  font-size: 20px;
}

.skill_last_part .last_info1 a {
  padding: 5px 300px 5px 30px;
  color: #ff5538;
  font-family: var(--rare-text);
  font-size: 18px;
}

.skill_last_part .last_info2 {
  height: 300px;
  /* background-color: #29313d; */
  width: 40%;
}

.skill_last_part .last_info2 img {
  height: 70%;
  width: 100%;
}

.skill_last_part .last_info2 h3 {
  padding: 10px 208px 10px 30px;
  font-family: var(--primary-text);
  font-size: 20px;
}

.skill_last_part .last_info2 a {
  padding: 5px 300px 5px 30px;
  color: #ff5538;
  font-family: var(--rare-text);
  font-size: 18px;
}

/* ======== SKILL_COUNT PART CSS ENDS HERE ======== */

/*=========== WORKS PART CSS STARTS HERE ========= */

#works {
  height: 800px;
  padding-top: 120px;
  padding-bottom: 140px;
  background-color: #fbf3f0;
  position: relative;
}

#works .img1 {
  position: absolute;
  top: 0;
  right: 0;
}

#works .img2 {
  position: absolute;
  left: 20px;
  bottom: 50%;
  animation: fram 10s infinite linear;
}

@keyframes fram {
  100% {
    transform: rotate(360deg);
  }
}

#works .item_wrapper {
  display: flex;
}

#works .item1 {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  padding-right: 60px;
  padding-top: 20px;
}

#works .item1 .top1 {
  height: 210px;
  width: 230px;
  background-color: #fff;
  margin-right: 30px;
  margin-bottom: 30px;
}
#works .item1 .top1 article {
  text-align: center;
  padding-top: 70px;
}

#works .item1 .top1 article h2 {
  font-family: var(--primary-text);
  font-size: 40px;
}

#works .item1 .top1 article p {
  font-family: var(--rare-text);
  font-size: 18px;
}

#works .item2 {
  width: 50%;
}

#works .item2 h3 {
  font-family: var(--primary-text);
  font-size: 48px;
  line-height: 62px;
  padding-top: 20px;
  padding-bottom: 20px;
}

#works .item2 p {
  font-size: 18px;
  font-family: var(--rare-text);
  line-height: 30px;
  padding-right: 37px;
  padding-bottom: 40px;
  text-transform: capitalize;
}

#works .item2 a {
  font-family: var(--rare-text);
  font-size: 18px;
  color: #fff;
}

#works .item2 button {
  padding: 14px 28px;
  border-radius: 18px;
  border: none;
  background-color: #ff5538;
}

/*=========== WORKS PART CSS ENDS HERE ========= */

/* ========= ORGINIZATIONS PART CSS STARTS HERE ======== */
#orginizations {
  height: 500px;
}

#orginizations p {
  font-family: var(--primary-text);
  font-size: 48px;
  text-align: center;
  font-weight: 500;
  text-transform: capitalize;
  padding: 100px 175px 0 175px;
}

#orginizations .boxs {
  display: flex;
  padding-top: 60px;
  padding-bottom: 100px;
}

#orginizations .box {
  height: 80px;
  width: 190px;
  background-color: #fbf3f0;
  text-align: center;
  padding-top: 24px;
  margin: 0 10px;
}

/* ========= ORGINIZATIONS PART CSS ENDS HERE ======== */

/*======== CUSTOMER_SAY CSS PART STARTS HERE ======== */

#customer_say {
  height: 700px;
  background-color: #fbf3f0;
}

#customer_say .parts_wrapper {
  display: flex;
}

#customer_say .part1 {
  padding-top: 140px;
  width: 50%;
}

#customer_say .part1 h1 {
  font-family: var(--primary-text);
  font-size: 48px;
  font-weight: 600;
  color: #29313d;
}

#customer_say .part1 p {
  font-family: var(--rare-text);
  font-size: 16px;
  color: #29313d;
  text-transform: capitalize;
}

#customer_say .name h3 {
  font-size: 36px;
  color: #29313d;
}

#customer_say .part2 {
  padding-top: 140px;
  width: 50%;
}

#customer_say .part2 img {
  height: 420px;
  width: 400px;
  border-radius: 20px;
  margin-left: 50px;
}

#customer_say .boxs {
  display: flex;
  margin-top: 50px;
  margin-bottom: 60px;
}
#customer_say .boxs .box {
  height: 100px;
  width: 100px;
  background-color: #ff5538;
  border-radius: 20px;
  margin-right: 28px;
}

#customer_say .name {
  margin-top: 50px;
  display: flex;
  align-items: center;
  gap: 40px;
}

#customer_say .angles {
  display: flex;
  gap: 24px;
}

#customer_say .angles .left {
  height: 50px;
  width: 50px;
  background-color: #ffddd7;
  border-radius: 10px;
  text-align: center;
}
#customer_say .angles .left i {
  padding-top: 18px;
}

#customer_say .angles .right {
  height: 50px;
  width: 50px;
  background-color: #ff5538;
  border-radius: 10px;
  text-align: center;
}

#customer_say .angles .right i {
  padding-top: 18px;
  color: #fff;
}

/*======== CUSTOMER_SAY CSS PART ENDS HERE ======== */

/*======== GET_PROJECT CSS PART STARTS HERE ======== */
#get_project {
  height: 450px;
  background-color: #ffd7c8;
  position: relative;
}

#get_project .getrope {
  position: absolute;
  top: 0;
  right: 0;
}

#get_project .getball {
  position: absolute;
  top: 80px;
  right: 20px;
  animation: top 5s infinite;
}

@keyframes top {
  0% {
    top: 0;
  }

  25% {
    top: 200px;
  }
  50% {
    top: 200px;
  }

  100% {
    top: 0;
  }
}

#get_project .top {
  padding-top: 100px;
  padding-bottom: 48px;
  display: flex;
  justify-content: space-between;
}

#get_project .top p {
  font-size: 20px;
  font-family: var(--rare-text);
  padding-bottom: 7px;
}

#get_project .top h1 {
  color: #29313d;
  font-size: 48px;
  font-family: var(--primary-text);
}

#get_project .top .button button {
  padding: 14px 28px;
  background-color: #ff5538;
  border: none;
  border-radius: 10px;
}

#get_project .top .button a {
  font-size: 18px;
  font-family: var(--rare-text);
  color: #fff;
}
#get_project .buttom p {
  font-size: 20px;
  font-family: var(--rare-text);
}
/*======== GET_PROJECT CSS PART ENDS HERE ======== */

/*======== FOOTER CSS PART STARTS HERE ======== */

#support {
  padding-top: 157px;
  padding-bottom: 57px;
  background: #fff;
}

#support .main {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#support .main .demo {
  width: 40%;
}

#support .main .demo h4 {
  margin-top: 190px;
  margin-left: 40px;
  font-family: var(--rare-text);
  color: var(--primary--section--color);
  font-size: 18px;
}

#support .main .demo p {
  margin-top: 40px;
  font-family: var(--rare-text);
  font-size: 18px;
  line-height: 180%;
  color: var(--primary--section--color);
  padding: 0 40px;
}

#support .main .demo img {
  margin-left: 40px;
}

#support .main .features {
  width: 20%;
}

#support .main .features h3 {
  font-family: var(--primary-text);
  font-size: 24px;
  color: var(--primary--section--color);
}

#support .main .features ul li {
  margin: 30px 0;
  font-size: 20px;
  font-family: var(--rare-text);
}

#support .main .features ul li a {
  color: var(--primary--section--color);
}

#support .main .products {
  width: 20%;
}

#support .main .products h3 {
  font-family: var(--primary-text);
  font-size: 24px;
  color: var(--primary--section--color);
}

#support .main .products p {
  font-family: var(--primary-text);
  font-size: 18px;
  color: var(--primary--section--color);
  text-align: right;
  margin-top: 200px;
  margin-right: 60px;
}

#support .main .products ul li {
  margin: 30px 0;
  font-size: 20px;
  font-family: var(--rare-text);
}

#support .main .products ul li a {
  color: var(--primary--section--color);
}

#support .main .support {
  width: 20%;
}

#support .main .support h3 {
  font-family: var(--primary-text);
  font-size: 24px;
  color: var(--primary--section--color);
}

#support .main .support ul li {
  margin: 30px 0;
  font-size: 20px;
  font-family: var(--rare-text);
}

#support .main .support ul li a {
  color: var(--primary--section--color);
}

#support .main .support p {
  font-family: var(--primary-text);
  font-size: 18px;
  color: var(--primary--section--color);
  text-align: right;
  margin-top: 200px;
  margin-right: 60px;
}
/*======== FOOTER CSS PART ENDS HERE ======== */
